@import "https://bricksui.netlify.app/styles/main-style.css";

* {
    --color-one:orange;
    --color-two:#173F5F;
    --hover-color:red;
  --background-color-one:white;
  --background-color-two:black;
  --border-color:gainsboro;
  --basic-color:orangered;

}