.sidebar{
    color:var(--background-color-two);
    width:12.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    line-height: 1.4rem;
    margin-top: 1rem;
}

label,input {
    display: inline;
}  

.sorting,.stock_and_delivery,.product_rating{
  border-bottom: dotted 2px var(--border-color) ;
}

.clear-btn{
  font-size: small;
  width:8rem;
}